<h3>View-Stream component</h3>


    <div class="example-container">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #streamPlace1List="cdkDropList"
          [cdkDropListData]="streamPlace1"
          [cdkDropListConnectedTo]="[discoveryUsersList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of streamPlace1" cdkDrag>{{item}}</div>
        </div>
      </div>
      
      <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #streamPlace2List="cdkDropList"
          [cdkDropListData]="streamPlace2"
          [cdkDropListConnectedTo]="[discoveryUsersList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of streamPlace2" cdkDrag>{{item.username}}</div>
        </div>
      </div>

      <app-user-list></app-user-list>
<app-user-list></app-user-list>
