<button type="button" (click)="recordStream()" style="position:relative;top:10px;left:1%;width:200px;height: 40px;"
  class="btn btn-md orange-bootstrap-button">Start streaming</button>
<button type="button" (click)="viewMultiple()" style="position:relative;top:10px;left:5%;width:200px;height: 40px;"
  class="btn btn-md orange-bootstrap-button">Watch more streams</button>


<div style="position:fixed; top: 170px;left:0; height: calc(20%-170px); width: 100%; background-color: white;">
  <video style="position: fixed; width: 100vh;
  max-height: 100vh" controls autoplay>
    <source src="http://nicks.rocks:3000/stream/demo1?uuid=e3594e80-9348-11e9-b242-db88659c9a24" type="video/webm">
  </video>
  Your browser does not support HTML5 video.

  <div class="chat" style="position: fixed; width: 30%; float: right; height:100%; background-color: white; right: 0">
    <div class="type-message" style="bottom:0; position: fixed; height: 50px; width: 30%">
      <div class="input-group">
        <input type="text" class="form-control" [value]="message" (input)="message = $event.target.value"  >
        <button class="input-group-text" (click)="sendMessage(message)" >Send message</button>
      </div>
    </div>
    <div  class="messages" style="position:fixed; height: calc(100% - 106px); width:100%; top:56px">
      <div *ngFor="let chat of chats" class="message uneven"
        style="border-top-width: 1px; border-color: #999; border-top-style: solid; background-color: #ddd">
        <span class="sender" style="font-weight: bold">{{chat.author}}</span>:
        <span class="content">{{chat.message}}</span>
      </div>
    </div>
  </div>
</div>