


<div class="form-group col-2" id="discoveryUsers">
  
  
  
  <h4>Users</h4>
    <!--TODO: IMPLEMENT Functionality of working tabs-->
<mat-tab-group dynamicHeight>
  <mat-tab label="Online">
    <div class="mat-elevation-z2">
      <ul class="list-group list-group-flush">
        <!--TODO: IMPLEMENT SEARCH-->
        <div cdkDropList id=discoveryUsersList [cdkDropListData]="users"
          [cdkDropListConnectedTo]="['streamPos1List', 'streamPos2List' ,'streamPos3List', 'streamPos4List']" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let user of users" cdkDrag>
            <li *ngIf="user.online" class="list-group-item">
              {{user.username}}
              <span *ngIf="user.online" class=online></span>
              <span *ngIf="!user.online" class=offline></span>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="All">
    <div class="mat-elevation-z2">
        <ul class="list-group list-group-flush">
            <!--TODO: IMPLEMENT SEARCH-->
            <div cdkDropList id=discoveryUsersList [cdkDropListData]="users"
              [cdkDropListConnectedTo]="['streamPos1List', 'streamPos2List' ,'streamPos3List', 'streamPos4List']" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let user of users" cdkDrag>
                <li class="list-group-item">
                  {{user.username}}
                  <span *ngIf="user.online" class=online></span>
                  <span *ngIf="!user.online" class=offline></span>
                </li>
              </div>
            </div>
          </ul>
    </div>
  </mat-tab>
</mat-tab-group>

 



</div>