
<div class="form-group " id="discoveryUsers">
  <h3>All users</h3>
  <ul class="nav nav-tabs">

    <!--TODO: IMPLEMENT Functionality of working tabs-->

    <li class="nav-item">
      <a class="nav-link active">Online</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">All users</a>
    </li>
  </ul>


  <ul class="list-group list-group-flush">

    <!--TODO: IMPLEMENT SEARCH-->

    <li class="list-group-item">User 1  <span class="online"></span></li>
    <li class="list-group-item">User 2 <span class="offline"></span></li>
    <li class="list-group-item">User 3 <span class="offline"></span></li>
    <li class="list-group-item">User 4 <span class="online"></span></li>
    <li class="list-group-item">User 5 <span class="offline"></span></li>
    
  </ul>
</div>