<button type="button" (click)="recordStream()" style="position:relative;top:10px;left:1%;width:200px;height: 40px;"
  class="btn btn-md orange-bootstrap-button">Start streaming</button>
<button type="button" (click)="viewMultiple()" style="position:relative;top:10px;left:5%;width:200px;height: 40px;"
  class="btn btn-md orange-bootstrap-button">Watch more streams</button>


<div style="position:fixed; top: 170px;left:0; height: calc(100% - 170px); width: 70%; background-color: white;">
  <video style="position: fixed;
  max-height: calc(100% - 170px); height: calc(100% - 170px); width:70%;" controls autoplay>
      <source *ngIf="src" [src]="src | safe" type="video/webm">
      </video>
  Your browser does not support HTML5 video.

  <div class="chat" style="position: fixed; width: 30%; float: right; height:100%; background-color: white; right: 0; padding: 10px">
    <div class="type-message" style="bottom:0; position: fixed; height: 50px; width: calc(30% - 20px);">
      <div class="input-group">
        <input type="text" class="form-control" (keyup.enter)="sendMessage(message)" [value]="message" (input)="message = $event.target.value"  >
        <button class="input-group-text" (click)="sendMessage(message)" >Send message</button>
      </div>
    </div>
    <div id="messages" class="messages" style="position:fixed; max-height: calc(100% - 130px); width:100%; bottom:63px; overflow-y: scroll">
      <div *ngFor="let chat of chats" class="message uneven"
        style="border-top-width: 1px; border-color: #999; border-top-style: solid; background-color: #fff">
        <span class="sender" style="font-weight: bold">{{chat.author.name}}</span>:
        <span class="content">{{chat.message | filterHtml}}</span>
      </div>
    </div>
  </div>
</div>
